/* Сетка стран */
.countries-grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fill, 345px);
    gap: var(--spacing-l);
    justify-items: center;
    justify-content: center;
}

/* Карточка страны */
.card {
    border: 1px solid #d2d2d2;
    border-radius: var(--spacing-m);
    padding: var(--spacing-l);
    text-align: center;
    transition: all 0.2s;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card:hover {
    /*box-shadow: 5px 6px 7px rgba(0, 0, 0, 0.1);
    парящий эффект конечно красиво но не по дизайну*/
    border-color: #000;
}

.card img {
    width: 100%;
    height: 187px;
    object-fit: cover;
    border-radius: var(--spacing-m);
}

.card button {
    margin-top: 10px;
    width: 100%;
    padding: var(--spacing-s) 0;
    background: #EDEDED;
    color: black;
    border: none;
    border-radius: var(--spacing-s);
    transition: all 0.2s;
}

.card button:hover {
    background: black;
    color: white;
}