input {
    width: 100%;
    font-size: 16px;
    border: var(--border);
    border-radius: var(--border-radius);
    transition: var(--transition);

    &[type = "text"] {
        padding: var(--spacing-s);
    }

    &:focus {
        border: var(--border-hover);
    }
}

button, .navigate-to-detail {
    border-radius: var(--spacing-s);
    border: none;
    padding: var(--spacing-s);
    width: 100%;
    color: var(--color-active);
    transition: var(--transition);
    background: var(--color-lightgrey);

    &:hover {
        background: var(--color-active);
        color: var(--color-bg);
    }
}

.container {
    display: flex;
    max-width: 1536px;
    margin: 0 auto;
}