/* Фильтры */
.filters {
    width: 375px;
    height: 100%;
    transition: var(--transition);
    padding: var(--spacing-l);
    border: var(--border);
    border-radius: var(--border-radius-l);
    margin-left: var(--spacing-l);
    margin-right: var(--spacing-l);

    .filters_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-m);

        &:not(:first-of-type) {
            margin-top: var(--spacing-m);
        }

        .filters_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            font-weight: bold;

            .filters_chevron-icon {
                transition: var(--transition);
            }
        }

        .filters_content {
            overflow: hidden;
            height: 0;
            transition: var(--transition);
        }

        &.active {
            .filters_chevron-icon {
                transform: rotate(180deg);
            }

            .filters_content {
                height: max-content;
            }
        }
    }


}

.filters h4 {
    margin-bottom: 10px;
}

.filters label {
    display: block;
    margin-bottom: 5px;
}