/* Фильтры */
.filters {
    width: 100%;
    max-width: 373px;
    min-width: 270px;
    max-height: fit-content;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.filters h3, .filters h4 {
    margin-bottom: 10px;
}

.filters label {
    display: block;
    margin-bottom: 5px;
}

.filters input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}