/*  Основной контейнер */
.container {
    display: flex;
    gap: 54px;
    max-width: 1600px;
    min-width: 270px;
    margin: 0 auto;
    height: calc(100vh - 96px);
    box-sizing: border-box;
}

/* Основной контент */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
