/* Контейнер фильтра */
.slider-container {
    width: 100%;
    margin-bottom: 15px;
}

/* Заголовок фильтра (название + стрелка) */


/* Иконка стрелки */
.slider-icon {
    transition: transform 0.3s ease;
}

/* При активном состоянии (разворачивается) */
.slider-container.active .slider-icon {
    transform: rotate(180deg);
}

/* Контент (ползунок + инпут) */
.slider-content {
    display: none;
    padding: 10px 0;
}

/* Когда фильтр открыт */
.slider-container.active .slider-content {
    display: block;
}

/* Ползунок */
#population-slider {
    width: 100%;
    -webkit-appearance: none;
    height: 3px;
    background-size: 100% 100%;
    background: linear-gradient(to right, black 50%, #ddd 50%) no-repeat;
    border-radius: 3px;
}

/* ✅ Стилизуем бегунок */
#population-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    position: relative;
}
