@import url('variables.css');
@import url('layout.css');
@import url('filters.css');
@import url('cards.css');
@import url('slider.css');
@import url('range.css');
@import url('defaults.css');

:root {
    /* позволяет включить анимацию в хроме для высоты и ширины с авто значениями */
    interpolate-size: allow-keywords;
}

/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background: var(--color-bg);
    text-align: center;
    margin: var(--spacing-xl) 0;
}

/* Тумблер */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;

    input {
        display: none;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-grey);
    transition: var(--transition);
    border-radius: var(--border-radius-l);

    &:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 3px;
        bottom: 3px;
        background-color: var(--color-bg);
        transition: var(--transition);
        border-radius: 50%;
    }
}

input:checked + .slider {
    background-color: var(--color-active);
}

input:checked + .slider:before {
    transform: translateX(14px);
}
